img {
    width: 100%;
      height: auto;
}
   
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

h1 {
    text-align: center;
    font-size: 4em;
    font-family: "Playfair Display", serif;
    color: #ff58d2;
}
h2 {
    text-align: center;
    font-size: 2em;
    font-family: optima, palatino, georgia;
}

p {
    font-size: 1em;
    font-family: garamond, times new roman;
}

.el {
  color: #ffc5f0;             
  color: rgb(255, 0, 0);
  color: rgba(255, 0, 0, 0.5); 
  background-color: babypink;

}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.space-evenly { 
    justify-content: space-evenly; 
}

.flex-item {
    padding: 5px;
    width: auto;
    height: auto;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.30em;
    text-align: center;
    border: #ffc5f0 solid;
    text-decoration: none;
  }

.flex-container a{
    color: white; 
    text-decoration: none;
}

.flex-container a:hover{
    background: #A3A8FC;
    color: white; 
    text-decoration: none;
}
