img {
    width: 100%;
      height: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

h1 {
    text-align: center;
    font-size: 4em;
    font-family: "Playfair Display", serif;
    color: #ff58d2;
}

p {
    text-align: center;
    font-family: garamond, times new roman;
    font-size: 1em;
    
}

body {
background-color : #E3F2FF;
} 
